{
    "ip": "0.0.0.0",         // 对外监听IP地址
    "port": 17000,           // 对外监听端口
    "ioRecvThreadNum": 2,    // IO接收线程数（为0表示在主线程中进行IO接收，注意：接收和发送不能都在主线程中）
    "ioSendThreadNum": 2     // IO发送线程数（为0表示在主线程中进行IO发送，注意：接收和发送不能都在主线程中）
}