[
    {
        "battleDefId": 1,
        "maxPlayers": 8,
        "minPlayers": 1,
        "slotsPerFaction": 2,
        "battleDurationSec": 300,
        "joinWindowSec": 120,
        "displayName": "多人接管AI",
        "frameRateOverride": 0
    }
]
